.full-width-carousel-container {
  margin: 0 auto !important;
}

.full-width-carousel {
    /* position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    width: 100vw !important;
    height: 75vh !important; */
  
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    height: 75vh !important;
  }
  
  .carousel-img {
    width: 100%;
    height: 70vh !important;
  
  }
  
  